#jinja2: trim_blocks:False
# Advertise the GPUs
{% if htcondor_features is defined %}use feature : {{ htcondor_features }}{% endif %}

{% if gpu_discovery_extra is defined %}GPU_DISCOVERY_EXTRA = {{ gpu_discovery_extra }} {% if gpu_division is defined %}-divide {{ gpu_division }}{% endif %}{% endif %}

GalaxyGroup = "{{ galaxy_group }}"
GalaxyCluster = "{{ galaxy_cluster }}"
GalaxyDockerHack = "{{ galaxy_docker_hack }}"
STARTD_ATTRS = {{ startd_attrs | join(', ') }}
Rank = StringListMember(MY.{{ rank }}, TARGET.Group)
BASE_CGROUP = {{ base_cgroup }}
CGROUP_MEMORY_LIMIT_POLICY = {{ memory_limit_policy }}
RESERVED_MEMORY = {{ reserved_memory }}
